a {
  text-decoration: none;
  color: inherit;
}
.carousel-item img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: center bottom;
}

.container-body {
  padding: 25px;
  margin: 30px;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}
